h1 {
  text-align: center;
  padding: 20px;
  font-size: 80px;
}

table {
  margin: auto; /* Centers the Table */
}

td {
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 50px;
	background: #f1f1f1;
}

.horizontal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black; 
}

.resetButton {
  text-align: center;
  padding: 40px;
}